RewriteEngine On
Options FollowSymLinks
RewriteBase /meme/
RewriteRule ^share/(.*) /comment.php?meme_id=$1&share=1
RewriteRule ^meme/([0-9]+)/share /comment.php?meme_id=$1&share=1
RewriteRule ^meme/(.*) /comment.php?meme_id=$1 [QSA]
RewriteRule ^tag/(.*) /memes_by_tag.php?tag_name=$1 [QSA]
RewriteRule ^cat/(.*) /show_cat.php?cat_name=$1 [QSA]
RewriteRule ^user/(.*) /profile.php?user_name=$1 [QSA]
RewriteRule ^votes/(.*) /profile.php?user_name=$1&view=v [QSA]
RewriteRule ^comments/(.*) /profile.php?user_name=$1&view=c
RewriteRule ^login$ /login.php
RewriteRule ^register$ /register.php
RewriteRule ^do_register$ /register.php
RewriteRule ^do_login$ /login.php
RewriteRule ^do_recover$ /login.php
RewriteRule ^post$	/post.php
RewriteRule ^post_verify$     /post.php
RewriteRule ^post_submit$	/post.php
